.coin-app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coin-search h1 {
    font-size: 4rem;
}

.coin-input {
    height: 35px;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    outline: none;
    padding-left: 20px;
    border-radius: 3px;
}

.coin-container {
    width: 900px;
    height: 60px;
    border-bottom: 1px solid #ccc;
}

.coin-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

.coin {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin h1 {
    font-size: 1rem;
}

.coin img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

.coin-symbol {
    text-transform: uppercase;
    margin-right: 70px;
}

.coin-data {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-price {
    margin-right: 20px;
}

.coin-percent.red {
    color: red;
}

.coin-percent.green {
    color: green;
}